@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PaySpace NextGen</h1>
    <p class="lead">
        Hello, my name is pablo gomes de souza pinto, this is my simple application of the requested calculation process, but in view of the payroll calculation rules here in Brazil, I am preparing a calculation tool aimed at work routines of my parents so that they can analyze my technical and process knowledge.
        Also having management routines adhering to Brazil today, I also have knowledge in all national labor legislation, along with all labor routines.
        Federal charges INSS, IRRF and Esocial today in constant change, I participated since the beginning of esocial in Brazil
    </p>

    <h3>Social Network</h3>
    <p></p><a href="https://www.linkedin.com/in/pablo-gomes-de-souza-pinto-1453a256/" target="_blank">Linkdin</a>
           <p></p><a href="https://www.youtube.com/channel/UCcR0lo-6akAQVxCSYCQzKZA" target="_blank">Youtube (my business)</a>
                  <p></p><a href="https://www.youtube.com/channel/UCUzaqUF-VHfnb9UKW7CV7ZA" target="_blank">Youtube (my personal)</a>


</div>